@import 'normalise.less';

:root {
    --monospace-font-stack: ui-monospace, 
    Menlo, Monaco, 
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Monospace", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Courier New", monospace;
    font-family: var(--monospace-font-stack);
}

html {
    font-family: var(--monospace-font-stack);

    --fg-color: #170303;
    --bg-color: white;

    &.dark {
        --fg-color: white;
        --bg-color: #111;
    }

    background-color: var(--bg-color);
    color: var(--fg-color);

}

@media (prefers-color-scheme: dark) {
    html {
        --fg-color: white;
        --bg-color: #111;

    }
}



body {
    font-size: 1rem;
    padding: 0.5em;
}


.display {
    margin-top: 1em;
}