@import 'normalise.less';

:root {
    --monospace-font-stack: ui-monospace, 
    Menlo, Monaco, 
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Monospace", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Courier New", monospace;
    font-family: var(--monospace-font-stack);
}

html {
    font-family: var(--monospace-font-stack);

    --fg-color: #170303;
    --bg-color: white;

    &.dark {
        --fg-color: white;
        --bg-color: #111;
    }

    background-color: var(--bg-color);
    color: var(--fg-color);

}

@media (prefers-color-scheme: dark) {
    html {
        --fg-color: white;
        --bg-color: #111;

    }
}

@font-face {
    font-family: "Apple ][";
    src: url(../fonts/apple-2.woff2);
}

body {
    font-size: 1rem;
    padding: 0.5em;
}


.display {
    margin-top: 1em;
}

cpu-terminal {
    --font-family: "Apple ][";
    --bg-color: #333;
    --fg-color: white;
}

.asm,
.hex,
.info {
    border: 1px #888 solid;
    word-wrap: break-word;
    white-space: pre;
    /* opacity: 0.5; */
    --padding-block: 1em;
    --padding-inline: 1ch;
    padding: var(--padding-block) var(--padding-inline);
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    font-family: "Apple ][", var(--font-family, monospace);
    font-weight: normal;
    // text-transform: uppercase;
    background-color: var(--bg-color, #333);
    color: var(--fg-color, white);
    width: 40ch;
    height: calc(31em + var(--padding-block) + var(--padding-block));
    overflow: auto;
    resize: none;
}

.asm {
    margin-right: 1em;
}

// .asm, .hex {
// }

.hex {
    white-space: normal;
    font-weight: normal;
    width: 28ch;
    display: inline-block;


    b {
        color: blue;
    }

    i {
        color: green;
        font-style: normal;
    }

    // br {
    //     // display: none;
    // }
}

.info {
    height: calc(5em + var(--padding-block) + var(--padding-block));
    white-space: normal;
}